/* src/pages/Login.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* Back Button Styling */
.back-btn {
  /* position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  color: #007bff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease; */
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  color: black;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;


}

.back-btn:hover {
  color: #0056b3;
}


.login-container {
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1920&q=80")
    center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Login Box */
.login-card {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 40px;
  width: 350px;
  color: white;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.login-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 0.95rem;
  color: #f0f0f0;
  margin-bottom: 30px;
}

/* Form Styling */
.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-form label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #f9f9f9;
}

.login-form input {
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  font-size: 0.95rem;
}

.login-btn {
  background: white;
  color: #007bff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #f0f0f0;
}

.signup-text {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #f5f5f5;
}

.signup-text a {
  color: #00b4ff;
  text-decoration: none;
  font-weight: 600;
}

.signup-text a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
  .login-card {
    width: 90%;
    padding: 30px;
  }
}
