* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.signup-container {
  background: url("https://images.unsplash.com/photo-1442570468985-f63ed5de9086?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGluZGlhJTIwdHJhdmVsfGVufDB8fDB8fHww&fm=jpg&q=60&w=3000")
    center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.signup-card {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 40px;
  width: 350px;
  color: white;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.signup-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.signup-subtitle {
  font-size: 0.95rem;
  color: #f0f0f0;
  margin-bottom: 30px;
}

.signup-form label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.signup-btn {
  background: #007bff;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

.signup-btn:hover {
  background: #0056b3;
}

.login-text {
  margin-top: 15px;
  color: #444;
}
